@import "../variables";

$selector: '.mask';
$selector-transparent: '.mask-transparent';

#{$selector} {
  position: fixed;
  z-index: $z-index-mask;
  width: 100%;
  height:100%;
  top: 0;
  left: 0;
  background-color: $mask-bg;
}

#{$selector-transparent} {
  opacity: 0.5;
}